.header {
display: grid;
grid-template-columns: [logo-s] auto [logo-e search-s] auto [search-e user-s] auto [user-e];
grid-template-rows: auto;

  height: 75px;
  width: 100vw;
  background-color: #888888;
  box-shadow: 0px 2px 20px grey;

}

.header img{
  margin-top: -60px;

  padding-right: 250px;

  align-self: start;
  justify-self: center;
  grid-column: logo-s/logo-e;
}